doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;700&display=swap")
        link(rel="stylesheet", href="./css/style.css")
        title StyleGuide
    body 
    .header
        img.icon(src="https://monoame.com/autoCAD/img/logoname.png", alt="XIANGHONG LOGO")
    .content.content_grey
        .max_width
            h5 Style Guide
            h1 品牌視覺引導-40px 大標題
            h1.small_english English Style guideline for h1 title
            .title_hr
            h2 品牌視覺引導-30px 中標題
            h2.small_english English Style guideline for h1 title
            h3 品牌視覺引導-20px 小標題
            h3.small_english English Style guideline for h1 title

            hr
            h5 VI COLORS 
            section.color_chip
                .color_tag #ffb336
                .color_block.color_block_yellow
            section.color_chip
                .color_tag #27232F
                .color_block.color_block_blue
            section.color_chip
                .color_tag #f3f7f7
                .color_block.color_block_white
            section.color_chip
                .color_tag #333333
                .color_block.color_block_grey 
            h5 BUTTON EXAMPLE
            .button 按钮范例
            .button.button_blue 按钮范例
            .button.button_yellow 按钮范例
                
    .content.content_blue
        .max_width 
            h5 Style Guide
            h1 品牌視覺引導-40px 大標題
            h1.small_english English Style guideline for h1 title
            .title_hr
            h2 品牌視覺引導-30px 中標題
            h2.small_english English Style guideline for h1 title
            h3 品牌視覺引導-20px 小標題
            h3.small_english English Style guideline for h1 title

            hr
            h5 VI COLORS 
            section.color_chip
                .color_tag #ffb336
                .color_block.color_block_yellow
            section.color_chip
                .color_tag #27232F
                .color_block.color_block_blue
            section.color_chip
                .color_tag #f3f7f7
                .color_block.color_block_white
            section.color_chip
                .color_tag #333333
                .color_block.color_block_grey 
            h5 BUTTON EXAMPLE
            .button 按钮范例
            .button.button_blue 按钮范例
            .button.button_yellow 按钮范例
                

    .content.content_white
        .max_width
            h5 Style Guide
            h1 品牌視覺引導-40px 大標題
            h1.small_english English Style guideline for h1 title
            .title_hr
            br
            h2 品牌視覺引導-30px 中標題
            h2.small_english English Style guideline for h1 title
            br
            h3 品牌視覺引導-20px 小標題
            h3.small_english English Style guideline for h1 title
            br
            hr
            h5 VI COLORS 
            section.color_chip
                .color_tag #ffb336
                .color_block.color_block_yellow
            section.color_chip
                .color_tag #27232F
                .color_block.color_block_blue
            section.color_chip
                .color_tag #f3f7f7
                .color_block.color_block_white
            section.color_chip
                .color_tag #333333
                .color_block.color_block_grey 
            h5 BUTTON EXAMPLE
            .button 按钮范例
            .button.button_blue 按钮范例
            .button.button_yellow 按钮范例
                
